{# @var product \BaksDev\Products\Viewed\Repository\ProductsViewed\ProductsViewedResult #}
{# @var v \BaksDev\Products\Viewed\Repository\ProductsViewed\ProductsViewedResult #}

{% set products = products_viewed|filter(v => v.productInvariableId != current_invariable_id)|slice(0,4) %}

{% if products is not empty %}

    <section class="container py-4">
        <h2 class="fs-6 text-uppercase fw-bold mb-3">
            вы смотрели
        </h2>

        <div class="d-flex justify-content-start p-3 bg-warning-subtle gap-3 overflow-x-scroll scroll-none"
             style="margin: 0 -0.7rem">

            {% for product in products %}

                {% set RootImage = product.productRootImage %}

                <a class="text-black text-decoration-none col-4"
                   href="{{ path('products-product:public.detail', {
                       category: product.categoryUrl,
                       url: product.productUrl,
                       offer : product.productOfferValue,
                       variation : product.productVariationValue,
                       modification : product.productModificationValue,
                       postfix: (product.productModificationPostfix ?: product.productVariationPostfix ?: product.productOfferPostfix ?: null )|replace({ '/': '-' }),
                   }) }}">

                    <div class="d-flex align-items-center gap-3">

                        {# Сформировать ссылку на изображение #}
                        {% set image_path = '/assets/img/blank.svg' %}

                        {% if RootImage.product_img is defined and RootImage.product_img is not null %}
                            {% set image_path = cdn_image_path(RootImage.product_img, RootImage.product_img_ext, RootImage.product_img_cdn) %}
                        {% endif %}

                        <img class="rounded-4" src="{{ image_path }}" alt="{{ product.productName }}"
                             style="width: 100px;">

                        <div>
                            <h3 class="fs-14 text-uppercase fw-bold">
                                {{ product.productName }}
                            </h3>

                            <div class="fw-bold">
                                {# Значение множественного варианта ТП #}
                                {{ product.productVariationValue|call_twig_func(product.productVariationReference~'_render') ~
                                product.productModificationValue|call_twig_func(product.productModificationReference~'_render') }}

                                {# Значение торгового предложения #}
                                {{ product.productOfferValue|call_twig_func(product.productOfferReference~'_render') }}

                                {{ (product.productModificationPostfix ?: product.productVariationPostfix ?: product.productOfferPostfix ?: null )|replace({ '/': '-' }) }}
                            </div>

                            {# Цена с учетом персональной скидки #}
                            {% set Price = product.productPrice %}

                            {# Старая цена #}
                            {% set OldPrice = product.productOldPrice %}

                            {% if product.productQuantity > 0 %}

                                <div class="d-flex align-items-center gap-2">

                                    <p class="card-text fw-bold fs-4 m-0">
                                        {{ money(Price, product.productCurrency) }}
                                    </p>

                                    {% if OldPrice.value != 0 %}
                                        <span class="fs-10 fw-bold text-danger">
								        <del>{{ money(OldPrice, product.productCurrency) }}</del>
                                    </span>
                                    {% endif %}

                                </div>
                            {% else %}

                                <p class="card-text fw-bold m-0 text-muted opacity-25"
                                   style="font-size:15px!important;">
                                    <strong>Нет в наличии</strong>
                                </p>

                            {% endif %}
                        </div>
                    </div>
                </a>

            {% endfor %}
        </div>
    </section>

{% endif %}
